<div class="product-detail-wrapper">
	<div class="product-title">
		<h3 class="title"><%= name %></h3>
	</div>
	<div class="product-info-detail-wrapper">
		<div class="product-detail-content">
			<div class="product-image">
				<img src="src/pics/<%= picture %>" alt="<% picture %>" class="product-image">
			</div>
			<div class="product-info">
				<div class="product-id row-field">
					<label class="label">id</label>
					<input type="text" name="product-id" class="text-input id-text-input" disabled="disable" value="<%= _id %>">
				</div>
				<div class="product-name row-field">
					<label class="label">Name</label>
					<input type="text" name="product-name" class="text-input product-name-text-input" value="<%=  name %>">
				</div>
				<div class="product-grapes row-field">
					<label class="label">Grapes</label>
					<input type="text" name="product-grapes" class="text-input product-grapes-text-input" value="<%=  grapes %>">
				</div>
				<div class="product-country row-field">
					<label class="label">Country</label>
					<input type="text" name="product-country" class="text-input product-country-text-input" value="<%=  country %>">
				</div>
				<div class="product-region row-field">
					<label class="label">Region</label>
					<input type="text" name="product-region" class="text-input product-region-text-input" value="<%=  region %>">
				</div>
				<div class="product-year row-field">
					<label class="label">Year</label>
					<select name="product-year" class="select-input year-select-input">
						<%
							var currentYear = new Date().getFullYear();
							for(var i = currentYear ; i > currentYear - 100; i--) {
						%>
						<option value="<%= i %>" <% i == parseInt(year) ? "selected" : ""%>><%= i %></option>
						<% } %>
					</select>
				</div>
				<div class="product-notes row-field">
					<label class="label">Notes</label>
					<textarea name="product-notes" cols="30" rows="10" class="text-input product-notes-text-input"><%=  description %></textarea>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="product-action">
		<a href="#!save" class="save button">Save</a>
		<a href="#!delete" class="delete button">Delete</a>
	</div>
</div>