<div class="product-container">
	<div class="product-content <%= name %>">
		<div class="image-wrapper">
			<a href="<%= _id %>" class="image-link">
				<img src="src/pics/<%= picture %>" alt="<%= name %>" class="product-image">
			</a>
		</div>
		<div class="product-des-container">
			<h3 class="product-name uppercase"><%= name %></h3>
			<p class="product-year"><%= year %> <%= grapes %></p>
			<p class="product-region"><i class="icon-region"></i><%= region %>, <%= country %></p>
		</div>
	</div>
	<a class="product-more-detail uppercase" data-id="<%= _id %>">Detail</a>
</div><!-- .# end product -->